/* FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto&display=swap');



/* variables */
:root{
  --color-background: hsl(100, 6%, 81%);
  --color-accent: hsl(210, 64%, 31%);
  --color-box: hsl(0, 0%, 95%);
  --color-box-hover: hsl(10, 0%, 100%);
  --color-text-default: hsl(0, 0%, 13%);
  --color-text-accent: hsl(0, 0%, 95%);
  --color-state-danger: hsl(0, 70%, 35%);
  --color-state-warning: hsl(46, 81%, 45%);
  --color-state-normal:hsl(123, 91%, 27%);
  --color-test: hsla(210, 64%, 31%, 0.2);

  --font-style-heading: 'Roboto', sans-serif;
  --font-style-content: 'Roboto', sans-serif;

  --font-size-title: 24px;
  --font-size-sensor-name: 20px;
  --font-size-mac-address: 14px;
  --font-size-body: 16px;
  --font-size-measurement-title: 14px;
  --font-size-measurement-value: 24px;
}



/* dark mode */
@media (prefers-color-scheme: dark) {
  :root{
    --color-background: #3f414b;
    --color-accent: hsl(210, 68%, 55%);
    --color-box: hsl(255, 0%, 10%);
    --color-box-hover: hsl(255, 0%, 0%);
    --color-text-default: hsl(0, 0%, 92%);
    --color-text-accent: hsl(0, 0%, 92%);
    --color-state-danger: hsl(0, 70%, 56%);
    --color-state-warning: hsl(46, 81%, 55%);
    --color-state-normal:hsl(123, 91%, 37%);
  }
}



/* init */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* separator */
.separator{
  display: block;
  width: 1px;
  background-color: var(--color-background);
  height: auto;
}



/* status color pallete */
.status-danger{
  background-color: var(--color-state-danger);
  color: var(--color-text-accent);
}

.status-warning{
  background-color: var(--color-state-warning);
  color: var(--color-text-accent);
}

.status-normal{
  background-color: var(--color-state-normal);
  color: var(--color-text-accent);
}



/* global elements */
body{
  background-color: var(--color-background);
  color: var(--color-text-default);
  font-family: var(--font-style-content);
}

header {
  background-color: var(--color-accent);
  color: var(--color-text-accent);
  padding: 1em;
}

header h1{
  padding: 0;
  margin: 0;
  font-size: var(--font-size-title);
  font-family: var(--font-style-heading);
}



/* Device List & Measurement*/
.sensor-list{
  margin: 1em;
}

.add-device-btn{
  background-color: var(--color-box);
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: .5em;
  text-align: center;
  font-size: var(--font-size-sensor-name);
}

.add-device-btn:hover{
  cursor: pointer;
  background-color: var(--color-box-hover);
  transition: .2s;
}

.add-device-btn::before{
  content: '➕ ';
}

.add-device-btn:active{
  background-color: var(--color-box-hover);
  transition: .2s;
}

.device{
  background-color: var(--color-box);
  margin-bottom: 1em;
  padding: 1em;
  border-radius: .5em;
  display: flex;
  align-content: stretch;
  min-height: 200px;
}

.device:hover{
  cursor: pointer;
  background-color: var(--color-box-hover);
  transition: .2s;
}

.device:active{
  background-color: var(--color-box-hover);
  transition: .2s;
}

.sensor-list .info{
  flex-grow: 0;
  display: block;
  min-width: 200px;
  padding: 0 .5em 0 0;
}

.sensor-list .info h3{
  display: block;
  font-size: var(--font-size-sensor-name);
}

.sensor-list .info h4{
  display: block;
  font-size: var(--font-size-mac-address);
}

.sensor-list .info h5{
  display: block;
  padding: .6em 1em;
  border-radius: .2em;
  width: max-content;
  margin: .8em 0 0 0;
}

.measurement {
  flex-grow: 0;
  display: inline-flex;
}

.measurement .point{
  display: flex;
  flex-direction: column;
  width: 120px;
  padding: 0 .5em;
  margin: 0 .5em;
}

.measurement h3{
  flex-grow: 1;
  font-size: var(--font-size-measurement-title);
  text-transform: capitalize;
  text-align: center;
}

.measurement h4{
  flex-grow: 1;
  display: block;
  text-align: center;
  font-size: var(--font-size-measurement-value);
  height: auto;
}

.graph-container{
  position: relative;
  overflow-x: hidden;
  flex-grow: 1;
  flex-shrink: 10;
  margin: 0 !important;
  padding: 0 0 0 .5em !important;
}

.graph-container canvas{
  margin: 0 !important;
  padding: 1em 0 0 0 !important;
}

.level h4::after{
  content: ' m';
  font-size: var(--font-size-mac-address);
}

.temperature h4::after{
  content: '°C';
  font-size: var(--font-size-mac-address);
}

.humidity h4::after{
  content: ' %';
  font-size: var(--font-size-mac-address);
}

.add-device-holder{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.9);
  padding: 1em;
}

.add-device-outer{
  position: relative;
  width: 100%;
  height: 100%;
}

.add-device{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  max-height: 95%;
  max-width: 500px;
  width: 95%;
  vertical-align: middle;
  background-color: var(--color-box);
  border-radius: 1em;
  transform: translate(-50%,-50%);
}

.copyright{
  display: block;
  position: relative;
  text-align: center !important;
  padding: 2em 1em 3em 1em;
  width: 100% !important;
}

form{
  padding: 1em;
  font-style: var(--font-style-body);
  font-size: var(--font-size-body);
}

.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

*+.row{
  margin-block-start: 1em;
}

label{
  width: 150px;
  padding: .5em;
  font-style: var(--font-style-body);
  font-size: var(--font-size-body);
}

input{
  flex-grow: 1;
  padding: .5em;
  border-radius: .5em;
  font-style: var(--font-style-body);
  font-size: var(--font-size-body);
  min-width: 150px;
}

.submit{
  background-color: var(--color-state-normal);
}

.cancel{
  background-color: var(--color-state-danger);
}

button{
  display: block;
  padding: 1em;
  flex-grow: 1;
  font-size: var(--font-size-mac-address);
  color: var(--color-text-accent);
  background-color: var(--color-accent);
  border: 0px;
  border-radius: .5em;
}

button:hover{
  cursor: pointer;
}

button:disabled{
  background-color: var(--color-background);
  color: var(--color-text-default);
  opacity: 0.4;
  cursor: not-allowed !important;
}

.row button+button{
  margin-inline-start: 1em;
}



/* arrow element */
.arrow-holder{
  margin-inline-end: 1em;
}

.arrow-element {
  border: solid var(--color-text-default);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




/* phone / tablet */
@media (max-width: 1020px) {
  
  .device{
    display: flex;
    flex-direction: column;
    max-height: unset;
  }

  .measurement{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em 0;
  }

  .measurement .point{
    width: auto;
    display: flex;
    padding: 1em 0;
    flex-grow: 1;
  }

}



@media (max-width: 600px){

  .device{
    display: flex;
    flex-direction: column;
    max-height: unset;
  }

  .measurement{
    display: flex;
    flex-direction: column;
    padding: 1em 0;
  }

  .measurement .point{
    width: auto;
    display: flex;
    flex-direction: row;
    padding: .5em 0;
  }

  .measurement .point h3{
    flex-grow: 2;
    width: auto;
    height: auto;
    font-size: var(--font-size-sensor-name);
    text-align: left;
  }

  .measurement .point h4{
    flex-grow: 1;
    width: auto;
    height: auto;
    font-size: var(--font-size-sensor-name);
    text-align: right;
  }

  .separator{
    width: auto;
    height: 1px;
  }

  .graph-container{
    padding: 1em 0 0 0 !important;
  }
  
}